.file-upload-text {
  text-align: center;
}

.venue-image {
  width: 100%;
  height: 250px;
  margin: 1rem 0;
}

.venue-image-inactive {
  width: 100%;
  height: 250px;
  background-color: #c1c1c1;
  margin: 1rem 0;
}
