.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 30rem;
  padding: 20px;
  box-shadow: #c1c1c1 1px 1px 4px 1px;
}

.button-form {
  margin-top: 2rem;
}
